@tailwind base;
@tailwind components;
@tailwind utilities;



*{
  margin: 0;
  padding: 0;
  
}
body{
  background: linear-gradient(90.05deg, #1C1C1C 1.26%, #FF4C4C 99.96%);

  overflow: scroll;
}
body::-webkit-scrollbar{
  display: none;
  
}

